.MemoryCard {
    width: 100%;
    height: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    perspective: 1000px;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.5s;
        transform-style: preserve-3d;

        &:hover {
            transform: rotateY(180deg);
        }

        &__front, 
        &__back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        &__front {
            background-color: #cccccc;
            color: #111111;
        }

        &__back {
            background-size: cover;
            background-color: #8ebf42;
            color: #eeeeee;
            transform: rotateY(180deg);
        }
    }
}